<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBIR Demo</title>
    <link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <h2 class="navbar-brand d-flex align-items-center">CONTENT-BASED IMAGE RETRIEVAL</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row text-center">
            <div id="image-preview-div col-4">
                    <label class="label">Selected image:</label>
                    <br>
                    <div class="d-block mb-4 h-100">
                        {% if img_path %}
                            <img class="img-fluid img-thumbnail" style="height: 100px;" src={{img_path}} alt={{img_path}}>
                        {% else %}
                            <img class="img-fluid img-thumbnail" src="noimage" alt="noimage">
                        {% endif %}
                    </div>
            </div>
            <div class="col-8">
                <form id="upload-image-form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" id="file" required>
                    </div>
                    <div class="form-group">
                        <label for="use-kmeans">Use kmeans:</label>
                        <input type="checkbox" id="use-kmeans">
                    </div>
                    <button class="btn btn-lg btn-primary" id="upload-button" type="submit">Upload image</button>
                </form>
            </div>
        </div>
        {% if result_path %}
            <hr class="mt-2 mb-5">
            <h2>Results</h2>
            <p>Query time: {{query_time}}</p>
            <div class="row text-center text-lg-left">
            {% for path in result_path %}
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" style="height: 224px" src={{path}} alt={{path}}>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>