<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CBIR Demo</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
</head>

<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/triplet">Triplet</a>
                <a class="p-2 text-dark" href="/non-triplet">Non-triplet</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-2 mt-1" id="image-preview-div">
                <label class="label"><b>Selected image:</b></label>
                <br>
                <div class="d-block mb-3 h-100">
                    {% if img_path %}
                    <img class="img-fluid img-thumbnail" style="height: 150px;" src={{img_path}} alt={{img_path}}>
                    {% else %}
                    <img class="img-fluid img-thumbnail" style="height: 150px;" src="../static/no-image.png" alt="no-image">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-10 mt-5">
                <form id="upload-image-form" action="" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="custom-file col-9">
                            <input type="file" name="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div class="form-group col-3">
                            <input class="form-control" type="number" name="num-result" placeholder="Number of results" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check col-12">
                            <input class="form-check-input" type="checkbox" id="use-kmeans" name="use-kmeans">
                            <label class="form-check-label" for="use-kmeans">Use kmeans</label>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary mt-2" id="upload-button" type="submit" value="Upload">Query</button>
                </form>
            </div>
        </div>
        {% if result_path %}
        <hr>
        <h2>Results</h2>
        <p>Query time: {{query_time}}</p>
        <div class="row text-center text-lg-left">
            {% for path in result_path %}
            <div class="col-lg-3 col-md-4 col-6">
                <div class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" style="height: 224px" src={{path}} alt={{path}}>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>

</html>